* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

header {
    margin: 0px;
}

nav {
    background-color: #f4a261;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.header_links a{
    position: relative;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    transition: 0.5s;
}

@media (max-width: 548px) {
    nav {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    .header_links {
        padding: 15px 0;
    }
    .header_links a {
        padding: 10px;
    }
}

a:hover {
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #f7b27a;
}

section {
    padding: 4rem 1rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.home_section {
    background: url('./img/img1.jpg') no-repeat center center/cover fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.home_section p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

button {
    background-color: #f4a261;
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    font-size: 15px;
    transition: transform 0.3s ease;
    color: #333;
}

button:hover {
    background-color: #f7b27a;
    transform:scale(1.2);
}

.about_section {
    background: linear-gradient(180deg,#f7b27a, #fff 85%);
}

.about_section h1 {
    font-size: 2.5rem;
}

.about_section p {
    max-width: 600px;
    margin: 2rem auto 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.card {
    background-color: #f4f4f4;
    border-radius: 20px;
}

h2, .card_details p {
    margin: 0px 0px 20px;
}

.card_img img{
    width:100%;
    height: 230px;
    border: none;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card_details {
    padding: 2rem;
    border-radius: 0px 0px 20px 20px;
}

@media (max-width: 1160px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.contact_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(./img/contact.jpg) no-repeat center center/cover fixed;
    color: #fff;
}

@media (max-width: 785px) {
    .contact_section {
        display: block;
    }
    form {
        width: 100%;
    }
    form .input{
        width: 100%;
    }
    textarea {
        width: inherit;
    }
}

.detail {
    margin: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    outline: none;
    border-radius: 20px;
    width: 500px;
    height: 45px;
    margin: 10px;
    padding: 0px 10px;
}

textarea.input {
    height: 150px;
    padding: 10px;
}